
.input{
    height: 30px;
    min-width: 80px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #dadada;
    outline: none;
    padding: 0 16px;
    
}

.button{
    height: 30px;
    border-radius: 0 4px 4px  0 ;
    padding: 0 8px;
    border: 1px solid transparent;
    background-color: rgb(8, 8, 248);
    cursor: pointer;
    color: #fff;
}